{{#if this.isHomepage}}
  <section class="resources snipcss-aQjeH">
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workplace Issues Tiles</title>
  <style>
    .resources.snipcss-aQjeH body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      padding: 20px;
    }

    .tile {
      width: 250px;
      height: 250px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
    }

    .tile:hover {
      transform: scale(1.05);
    }

    .peer {
      background-image: url('https://test.workspherepulse.com/uploads/default/original/1X/9ccc67ea96479b4a6d786837618afc774193f610.png');
    }

    .supervisor {
      background-image: url('https://test.workspherepulse.com/uploads/default/original/1X/9c6467bd98de9a3e9f9054f22121e0b12aaf0795.png');
    }

    .employee {
      background-image: url('https://test.workspherepulse.com/uploads/default/original/1X/9ead143c798f4f21656e8b6ece6d10456e204b58.png');
    }

    .team {
      background-image: url('https://test.workspherepulse.com/uploads/default/original/1X/67a774e2aec004520e4639f73b85c7a8f65fbbba.png');
    }

    .other {
      background-image: url('https://test.workspherepulse.com/uploads/default/original/1X/dc182aa3ab5a71dd2bacbd93724ebe9d2cdb9795.png');
    }
  </style>
</head>
<body>
  <a href="https://test.workspherepulse.com/c/peer-issues/5">
    <div class="tile peer"></div>
  </a>
  <a href="https://test.workspherepulse.com/c/supervisor-issues/6">
    <div class="tile supervisor"></div>
  </a>
  <a href="https://test.workspherepulse.com/c/senior-management-issues/7">
    <div class="tile employee"></div>
  </a>
  <a href="https://test.workspherepulse.com/c/general-management-issues/8">
    <div class="tile team"></div>
  </a>
  <a href="https://test.workspherepulse.com/c/other-workplace-topics/23">
    <div class="tile other"></div>
  </a>
</body>

</html>


  </section>
{{/if}}